[submodule "seamly2d-interactive-body-measurements-diagram"]
	path = seamly2d-interactive-body-measurements-diagram
	url = git@github.com:mlouielu/seamly2d-interactive-body-measurements-diagram.git

[submodule "seamlyme-core"]
	path = seamlyme-core
	url = git@github.com:mlouielu/seamlyme-core.git
